@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*,
*::after,
*::before {
	box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
	margin: 0;
	padding: 0;
}
header {
  background: url(../images/bg-hero-desktop.svg),hsl(193, 100%, 96%);
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 0.5em;
  margin-footer: 5em;
}
header h1 {
 padding: 1em;
 margin: 0;
 font-family: arial;
 color: #333;
}
.sub__header--one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em 0 0;
}
#hero-btn {
  height: 40px;
  width: 155px;
  padding: 1.4em;
  background: #fff;
  border: none;
  border-radius: 40px;
  color: #000;
  font-weight: 900;
  box-shadow: 0 5px 5px 1px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.head__row {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.illustration__mockup--img {
  height: auto;
  display: block;
  max-width: 100%;
  /*margin-left: auto;*/
  width: 600px;
}
.head__text {
/*  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;*/
}
.head__title {
  font-size: 2em;
  width: 400px;
  grid-column: span 2;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.head__desc {
  font-family: sans-serif;
  font-size: 1rem;
  width: 500px;
  text-align: justify;
  color: #333;
}
.head__btn {
  width: 300px;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #FF52BF;
  border: none;
  padding: 1em;
  border-radius: 40px;
}

/*
** CARD SECTION
*/
.card {
  height: auto;
  padding: 2em;
  width: 90%;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 0px 35px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -15px rgba(0,0,0,0.75);
  border-radius: 20px;
}
.card--reversed {
  /*display: flex;*/
  /*flex-direction: row-reverse!important;*/
  /*justify-content: space-between;*/
}
.card__text {}
.card__title {
  font-family: Arial, Poppins, Times, serif;
}
.card__desc {
  font-family: "Open Sans", sans-serif;
  max-width: 75%;
  color: #777;
}
.card__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/*article:nth-child(2) {
  flex-direction: row-reverse;
}
article:nth-child(2) img {
  width:  450px;
  height: auto;
  margin: 0 5em 0 0;
}
article:nth-child(2) p {width: 670px;}*/
/*article section {margin: auto;}*/

@media (max-width: 992px) {
  .head__row {
    flex-direction: column;
  }
  .head__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .head__title {
    font-size: 1.5em;
    text-align: center;
    /*width: 300px;*/
    width: 90%;
  }
  .head__desc {
    /*width: 250px;*/
    width: 100%;
  }
  .head__btn {
    width: auto;
    white-space: nowrap;
  }
  .illustration__mockup--img{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }
  .sub__header--one {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
}
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
  .card__desc {
    max-width: 100%;
  }
}

.footer__card {
  width: 60%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 35px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -15px rgba(0,0,0,0.75);
  position: relative;
  left: 300px;
  top: 79px;
  background: #fff;
}
.footer__card--title {
  font-family: "Open Sans";
  font-size: 2em;
  font-weight: 900;
}

.footer {
  background-color:hsl(192, 100%, 9%);
  height: auto;
  padding: 10em 5em 3em 2em;
  z-index: -1;
}
.footer__grid {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 33.3% repeat(4, 20%);
  grid-template-rows:30% 50% 20%;
}
@media (max-width: 992px) {
  .footer__grid,
  .footer__contact
   {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .attribution {
    text-align: left;
  }
}
.footer__img {
  margin: 0 0 2.5em 0;
}
.footer__text {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.map-marker {
  margin: 0;
}
.footer__desc {
  color: #fff;
  font-family: "Open Sans";
  margin: 0;
}
.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contact--info {
  color: #fff;
  font-family: "Open Sans";
}
.footer__nav {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-top: 5em;/
}
.footer__nav--item {
  margin: 1em auto;
}
.footer__nav--link {
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans";
}

.footer__icons--row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5em;
}
.footer__icons--row i {
  color: #fff;
  font-size: 1em;
  margin: 0.5em 0.5em 0.5em 0;
  height: 30px;
  width:  30px;
  padding: 1em;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attribution {
  color: #fff;
  font-size: 0.7em;
  font-family: "Open Sans";
  font-weight: 100;
  text-align: right;
}